	body {
		padding: 20px 0px;
		margin: 0px;
		box-sizing: border-box;
		overflow-x: hidden;
		background-color: #333;
	}
	h1 {
		color:lightgrey;
		text-align:center;
	}
	.flex1 {
		width: 40%;
		height: 120px;
		margin: 25px auto;
		margin-top: 50px;
		padding: 20px;
		background-color: transparent;
	}
	.flex2 {
		width: 40%;
		height: 120px;
		margin: 25px auto;
		padding: 20px;
		background-color: transparent;
	}
	input {
		width: 90%;
		height: 30px;
		border: 2px solid #ccc;
		border-radius: 5px;
	}
	button {
		color: white;
		height: 30px;
		margin: 5px 0;
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: grey;
	}
	button:hover {
	  background-color: black;
	}


	/*Hide Encryption Output*/
	.hidden {
		display: none;
	}

	/*WinBox Output Body*/
	.wb-body {
		padding: 20px;
		background: #111;
		color: darkgrey;
	}


	/*PHONE MEDIA QUERY*/
	@media (max-width: 700px) {
		.flex1 {
			width: 80%;
		}
		.flex2 {
			width: 80%;
		}
	}